@{
    ViewData["Title"] = "Home Page";
}

<div style="background: rgba(51,51,49,0.4)">
    <div style="
    background-image: url('https://www.itl.cat/pngfile/big/324-3241705_book-store-background-wallpaper-hd.jpg');
        background-size: cover">
        <div class="jumbotron" style="background: rgba(200, 54, 54, 0);">
            <h1 style="color: whitesmoke;text-shadow: 2px 2px #323131">Online Bookstore</h1>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h2 style="margin-left: 5%;color: whitesmoke;text-shadow: 2px 2px #323131">Welcome to Online Bookstore</h2>
                <p style="margin-left: 5%;color: whitesmoke;text-shadow: 1px 1px #323131">COVID-19 Shipping Alert!</p>
                <p style="margin-left: 5%;color: whitesmoke;text-shadow: 1px 1px #323131">Customers in regions heavily impacted by COVID-19 may experience shipping delays or suspensions.</p>
            </div>
            <div class="col-lg-6">
                <h2 style="margin-left: 5%;color: whitesmoke;text-shadow: 2px 2px #323131">Your Online Bookstore</h2>
                <p style="margin-left: 5%;color: whitesmoke;text-shadow: 1px 1px #323131">Online Bookstore sells books at the lowest everyday prices. We personally assess every book's quality and offer rare, out-of-print treasures.</p>
                <p style="margin-left: 5%;color: whitesmoke;text-shadow: 1px 1px #323131">We deliver the joy of reading in 100% recyclable packaging with free standard shipping.</p>
            </div>
        </div>
    </div>
</div>